@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer
<div class="rounded-2 border-1 border-black border p-1">
    <span>Event name: NAME</span>
    <br/>
    <span>Event json: JSON</span>
    <p>@_text</p>
    <button @onclick="Click">Click</button>
</div>

@code {
    private string _text { get; set; }
    
    protected override void OnInitialized()
    {
        _text = "init'";
    }

    private void Click()
    {
        _text = "click''";
    }
}