@page "/"
@using System.Text.Json
@using Confluent.Kafka
@using ES.Yoomoney.Core.Abstractions
@using ES.Yoomoney.Core.IntegrationEvents
@using JasperFx.Core
@using KafkaFlow
@using KafkaFlow.Producers
@using Newtonsoft.Json
@using JsonSerializer = System.Text.Json.JsonSerializer
@rendermode RenderMode.InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@currentCount;
@error
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    [Inject] IProducer<string, string> _producer { get; set; }
    
    private string? error;

    private async Task IncrementCount()
    {
        var id = Guid.NewGuid();
        currentCount++;
        error = "init";


        try
        {
            _producer.Produce(nameof(OrderCreatedIntegrationEvent), new Message<string, string>()
            {
                Key = id.ToString(),
                Value = JsonSerializer.Serialize(new OrderCreatedIntegrationEvent(id, 100))
            });
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
        currentCount++;
    }

}